<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Disconnected_Environmet.Properties.Settings.Data_MahasiswaConnectionString"
            connectionString="Data Source=TRIPLECENTRE\IRAWAN_ROFI_H;Initial Catalog=Data_Mahasiswa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>